.breadcrumb {
  display: flex;
  align-items: flex-end;
  .breadcrumb-item + .breadcrumb-item::before {
    font-size: 16px;
  }
  background: transparent;
  a {
    color: $input-icon-color;
  }
}
nav.breadcrumb-wrapper {
  display: flex;
  align-items: flex-end;
}
ol.breadcrumb {
  padding: 0;
  margin: 0;
}