.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 0px;
  font: 700 12px "Oxygen";
  height: 40px;
  outline: none;
  text-transform: uppercase;
  border: 2px solid $brand-color;
  min-width: 136px;
  color: $brand-color;
  &:hover {
    background-color: $brand-color;
    color: $white;
    cursor: pointer;
  }
  &-arrow {
    i {
      margin-left: 20px;
      color: $white;
      font-size: 18px;
    }
  }
  &-white {
    color: $white;
    border-color: $white;
    &:hover {
      background-color: $white;
      color: $brand-color;
      i {
        color: $brand-color;
      }
    }
  }
  &-scroll {
    border: 3px solid $brand-color;
    justify-content: space-between;
    color: $white;
    font-size: 12px;
    text-transform: none;
    i {
      font-size: 20px;
      color: $brand-color;
    }
    &:hover {
      i {
        color: $white;
      }
    }
  }
  &-circle {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    color: $white;
    background-color: $brand-color;
    &:hover {
      transition: all .5s ease;
      cursor: pointer;
      border: 4px solid $brand-color;
      background-color: darken($brand-color, 10%);
    }
  }
  &-bold {
    border: 3px solid $white;
  }
}
