$white: #ffffff;
$line-gray: #eeeeee;
$card-sub-name: #c4c4c4;
$input-icon-color: #85939f;
$footer-back: #1f2a32;
$main-font-dark: #3b4954;
$input: #434a50;
$img-description: #3d3d3d;
$header-bottom: #474747;
$card-text: #555555;
$header-top: #000000;
$brand-color: #02baab;

$yellow: #ffae00;
$orange: #fc7100;
$pink: #e51c5e;
$red: #de1c5c;
$purple: #ae0f8d;
$dark-purple: #6d0fae;
$dark-blue: #33227a;
$sky-blue: #0c8fcc;

$facebook: #3b5998;
$twitter: #00a0d1;
$youtube: #c4302b;
$insta: #825c48;
$pinterest: #a30834;
