.statistics{
  li {
    width: 210px;
    position: relative;
    &:not(:last-child)::after {
      content: "...";
      display: block;
      right: -50%;
      top: 20%;
      position: absolute;
      font-size: 80px;
      color: #ffffff;
    }
  }
  p {
    padding: 0;
    margin-bottom: 0;
  }
  span {
    display: inline-block;
  }
  .progress{
    width: 210px;
    height: 210px;
    line-height: 210px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    margin-bottom: 25px;

  }
  .progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #35c8bc;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left{
    left: 0;
  }
  .progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 105px;
    border-bottom-right-radius: 105px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right{
    right: 0;
  }
  .progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 105px;
    border-bottom-left-radius: 105px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    background: transparent;
    font-size: 55px;
  }
  .progress.white .progress-bar{
    border-color: #fff;
  }
  .progress.pr-90 .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress.pr-65 .progress-left .progress-bar{
    animation: loading-4 1.5s linear forwards 1.8s;
  }
  .progress.pr-95 .progress-left .progress-bar{
    animation: loading-5 1.5s linear forwards 1.8s;
  }

  @keyframes loading-1{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(124deg);
      transform: rotate(124deg);
    }
  }
  @keyframes loading-3{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-5{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(150deg);
      transform: rotate(150deg);
    }
  }

}